<h1>Facebook OAuth</h1>
<!-- <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div> -->
<!-- <%= link_to "Steal Token", facebook_token_path, id: 'token_transfer_link' %> -->
<br>
<%= link_to 'Real Login', facebook_token_path, id: 'login-link' %>
